body {
    background-color: #0D0D0D;
    color: #A6A6A6;
}

img {
    border-radius: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    
  }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #121212;
  overflow: hidden;
  padding:15px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #fd4766;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: #fd4766;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.box{
  width: 100%;
}
.container  {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box2column{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  
}
.container2column  {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h1{
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  text-align: center;
  padding-top: 50px;

}
.container2column h1{
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  text-align: center;
  padding-top: 50px;

}
h1 span{
  color: #fd4766;
}

.container2column h1 span{
  color: #fd4766;
}
.content p{
  width: 100%;
  color: #757575;
  margin-top: 10px;
  text-align: center;
  font-size: 32px;
  font-style: italic;
}
.contentBlog{
  width: 100%;
  color: #757575;
  margin-top: 10px;
  text-align: center;
  font-size: 32px;
  font-style: italic;
  padding: 5% 25% 20% 20%;
}

.container2column p{
  width: 100%;
  color: #757575;
  margin-top: 10px;
  text-align: center;
  font-size: 32px;
  font-style: italic;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
nav a{
  text-decoration: none;
}
.contact {
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 font-size: 50px;
  
}

.contact a {
  
  text-decoration: none;
  font-size: 100px;
  color: #fd4766;
  padding: 50px;

  
}

/* PROFILE CARD */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 500px;
  max-height: 500px ; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  
}
.content li {
  font-size: 30px;
  font-weight: 200;
  line-height: 40px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}
.content {
  text-align: center;
}

.card img{
  size: 150px;
}

.title {
  color: grey;
  font-size: 18px;
  padding: 20px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 50px;
  color: #fd4766;
  padding: 50px;

}

.card .content li {
  text-decoration: none;
}

.alex{
  text-align: center;
  padding: 25px;
  margin-bottom: 15px;
  font-size: 42px;
}
.alex img{
  width: 70vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alex h1{
font-size: 42px;
}


/* carousell */
.gallery {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 60vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
  overflow-x: hidden;
	height: 50vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}
.gallery1 {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 60vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
  overflow-x: hidden;
	height: 50vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.gallery2 {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 60vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
  overflow-x: hidden;
	height: 65vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .alex{
    padding: 0;
  }
  .content h1{
    font-size: 30px;
    line-height: 30px;
  }
  .content h4{
    font-size: 14px;
  }
  .content h6{
    line-height: 20px;
  }
  .content p{
    font-size: 20px;
  }
  .content li{
    font-size: 25px;
  }
  .content img{
    width: 200px;
  }
  .container2column{
    padding: 0px;
    margin: 0px;
  }
  
  .contentBlog h1,span{
    font-size: 30px;
  }
  .contentBlog p{
    font-size: 25px;
    padding-top: 15%;
  }
  .box2column .container2column h1,span{
    font-size: 30px;
  }
  .box2column .container2column p{
    font-size: 20px;
  }

  .box2column .container2column img{
    width: 370px;
    padding: 5px;
    margin: 0px;
  }
  .contact h1{
    padding-top: 15%;
    font-size: 30px;
  }
  
  nav{
    display:block;
    align-items: center;
    text-align: center;
    padding: 0;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav{
    display:block;
    align-items: center;
    text-align: center;
    padding: 0;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  
  nav{
    display:block;
    align-items: center;
    text-align: center;
    padding: 0;
}
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}